@model ProductListViewModel

<p>
    <a href="/product/add" class="btn btn-outline-primary">Create New</a>
    @if (Model.CurrentFilterState)
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=true&filterHigher=@Model.CurrentFilterStateHigher" class="btn btn-outline-primary">A-Z</a>
    }
    else
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=true&filterHigher=@Model.CurrentFilterStateHigher" class="btn btn-outline-primary">Z-A</a>
    }
    @if (Model.CurrentFilterStateHigher)
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=@Model.CurrentFilterState&filterHigher=true" class="btn btn-outline-primary">High-Low</a>
    }
    else
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=@Model.CurrentFilterState&filterHigher=true" class="btn btn-outline-primary">Low-High</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitsInStock
                </td>
                <td>
                    <a class="btn btn-xs btn-success" asp-controller="Cart"
                   asp-action="AddToCart" asp-route-productId="@item.ProductId">Add To Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<product-list-pager current-category="@Model.CurrentCategory"
                    current-page="@Model.CurrentPage"
                    page-count="@Model.PageCount"
                    page-size="@Model.PageSize">

</product-list-pager>